*{
    margin: 2px;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: rgb(198, 227, 230);
}
.red{
    background-color: red;
    color: white;
}
ul li{
    color: blue;
}
.blue{
    background-color: blue;
    color: white;
}
